
.alert-container{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 9999;
}

.alert {
    height:0;
    padding: 0 15px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0;
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
    padding-left: 50px !important;
    background-position-x: 15px !important;
}
.alert .close {
    padding-left: 16px;
    line-height: 18px;
    color: #444;
    opacity: 1;
}

.alert-danger {
    opacity: 1;
    color:#000;
    background-color: #fff !important;
    border-left: solid 10px #FF5A5A !important;
}

.alert-success {
    opacity: 1;
    color:#000;
    background-color: #fff !important;
    border-left: solid 10px #47C684 !important;
}

.alert-info {
    opacity: 1;
    color:#000;
    background-color: #fff !important;
    border-left: solid 10px #17b4c4 !important;
}

.alert-warning {
    opacity: 1;
    color:#000;
    background-color: #fff !important;
    border-left: solid 10px #FFA700 !important;
}

.alert-show{
    padding: 15px;
    height: auto;
}/* You can add global styles to this file, and also import other style files */
